<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    </title>
    <meta name="description" content="SuperEnalotto Simulator">
    <meta name="keywords" content="superenalotto,enalotto,simulator,simulatore,gioco"/>
    <link rel="shortcut icon" href="favicon.ico" />
    {% load bootstrap3 %}
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
    {% load humanize %}
    {% load l10n %}
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script&amp;subset=latin,latin-ext' rel='stylesheet' type='number/css'>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
	<script src="{{ STATIC_URL }}control.js"></script>
</head>
<body>
    <h1>Simulatore SuperEnalotto</h1>
    <div class="testo">
        Questo simulatore di superenalotto nasce dalla necessita' di dimostrare in pratica come
        sia altamente difficile vince e che alla fine i soldi spesi siano sempre maggiori di quelli guadagnati
        <br>
        Per questo motivo il simulatore permette di puntare 6 numeri piu' jolly su
        <strong>tutte</strong> le estrazioni di superenalotto fatte fin'ora.
        <br>
        Il sistema calcolera' quanto vinto e quanto speso per far capire quanto sia difficile perdere e come, alla fine
        chi vince non sia chi punta.
        <br/>
    </div>
    <div class="istruzioni">
        <h3>Istruzioni</h3>
        Per semplicita' e' possibile puntare solo una singola combinazione da 0.5 Euro che verra' confrontata con tutte le estrazioni
        fatte fino a oggi.
        <br/>
        E' possibile scegliere singolarmente i numeri cosi' come e' possibile farli scegliere
        direttamente al computer, premendo "Scommetti" si eseguira' la simulazione su tutte
        le estrazioni eseguite fino ad oggi.
    </div>
    <h3>Scommetti</h3>
    <span class="numeri">
        <form name="numeri" id="formnumeri" method="POST" class="form form-horizontal">
        {% csrf_token %} 
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-1">
                {% bootstrap_field form.pr %} 
            </div>&nbsp;
            <div class="col-xs-1">
                {% bootstrap_field form.se %} 
            </div>&nbsp;
            <div class="col-xs-1">
                {% bootstrap_field form.te %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-1">
                {% bootstrap_field form.qa %} 
            </div>&nbsp;
            <div class="col-xs-1">
                {% bootstrap_field form.qi %} 
            </div>&nbsp;
            <div class="col-xs-1">
                {% bootstrap_field form.ss %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-1">
                {% bootstrap_label "Jolly" %}
            </div>&nbsp;
            <div class="col-xs-1">
                {% bootstrap_field form.jo %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <input type=hidden value='1' name='go' >
                {% buttons %}
                    <button type=button name=random onclick="lottery()" class="btn btn-primary"> 
                        {% bootstrap_icon "repeat" %} Casuale
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Scommetti
                    </button>
                {% endbuttons %}
            </div>
        </div>
    </form>
</span>
{% if res.done %}
    {% if res.vinto == 0 %}
        Non hai vinto in Nessuna Estrazione
    {% else %}
        Hai totalizzato {{res.4}} '4', {{res.5}} '5', {{res.51}} '5+1', {{res.6}} '6'
    {%endif%}
    <br/>
    {% localize on %}
    Hai speso <span class="spesa"> {{ res.spesa|intcomma }}Euro</span> hai guadagnato <span class="vittoria"> {{ res.guadagno|intcomma }} Euro</span>
    {% endlocalize %}
{% endif %}

</body>
</html>
